
<div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">LivingSocial Sandbox</h3>
			 		</div>
			  	<div class="panel-body">
			    	<%= form_for(@user) do |f| %>
			    	  <div class="form-group">
			    	  		<%= f.label :name %>
			    		    <%= f.text_field :name, :autofocus => true, class: "form-control" %>
			    		</div>
			    		<div class="form-group">
			    	  		<%= f.label :birthyear, "Birth Year" %>
			    	  		<%= f.select :birthyear, options_for_select(@years, selected: @selected), :class => "form-control" %>
			    		</div>
			    		<div class="form-group">
			    		<%= f.label :gender %>	
			    		</div>	    		
			    	  <div class="col-xs-6">
        				<img id='male' src="http://www.mydailywallpaper.com/siteimg/cat_celebritiesmale.jpg" class="img-responsive img-radio">
        				<button type="button" class="btn btn-primary btn-radio active">Male</button>
        				<%= check_box_tag :gender, 'Male', false, class: 'hidden' %>
        			</div>
        			<div class="col-xs-6">
        				<img id='female' src="http://www.colorandhaircut.com/thumbs/802634-Blondecelebrityhairstyles20131201ImageGallery743Amazing.jpg" class="img-responsive img-radio">
        				<button type="button" class="btn btn-primary btn-radio">Female</button>
        				<%= check_box_tag :gender, 'Female', false, class: 'hidden' %>
        			</div>
			    		<div class="form-group" style='clear:both; padding-top: 15px; margin-top: 0px'>
			    			<input class="btn btn-lg btn-success btn-block" type="submit" value="Lets Go!">
			    		</div>
        			
			      	<% end %>
			    </div>

			</div>

		</div>
		<div class="col-md-6" style='color: #ddd; background-color: rgba(0,0,0,0.5); border-radius: 5px; padding-left: 20px; padding-bottom: 20px'>
			<h1>LivingSocial Sandbox</h1>
			<h3>1) Enter Your Name</h3>
			<h3>2) Enter Your Birth date</h3>
			<h3>3) Enter Your Gender</h3>
			<h3>4) Start Tagging Deals</h3>
		</div>
	</div>
</div>

<script>
$(function () {
		<% if @user.gender == "Female" %>
			$("#female").addClass('active')
        .siblings('input').prop('checked',true)
    		.siblings('.img-radio').css('opacity','1');
		<% end %>
		<% if @user.gender == "Male" %>
			$("#male").addClass('active')
        .siblings('input').prop('checked',true)
    		.siblings('.img-radio').css('opacity','1');
		<% end %>


		$('.btn-radio').addClass('active')
    $('.btn-radio').click(function(e) {
        $('.btn-radio').not(this).removeClass('active')
    		.siblings('input').prop('checked',false)
            .siblings('.img-radio').css('opacity','0.5');
    	$(this).addClass('active')
            .siblings('input').prop('checked',true)
    		.siblings('.img-radio').css('opacity','1');
    });
});
</script>